NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL="postgresql://postgres.otunhsdjusbgvkvclgis:gB8u6wUKDQg8cuOY@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
UPLOADTHING_TOKEN=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZWxlY3RyaWMtZ3JhY2tsZS0xOS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_mKSJrWQG2BXwz8724sooiYIdVzsX5cyQnkqherAsIO
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/app
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/app
SEED_USER_ID='user_3DYIpL8AedOKyz9FC1wJCnEmJYR'

GOOGLE_CLOUD_PROJECT=project-a2dfb3bc-58a9-4585-b77
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=C:/Users/shaltoot/secrets/requirex-vertex-sa.json

INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
INNGEST_DEV=1


SEED_USER_ID=
